[run]
source = app
omit =
    */tests/*
    */migrations/*
    */venv/*
    */__pycache__/*
    */static/*
    */templates/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
